version: 3.4-{build}
branches:
  except:
  - l10n_develop
skip_tags: true
skip_commits:
  # Skip commits where all of the files modified are docs
  files:
    - docs/*
    - '**/*.html'
    - '**/*.md'
# Do not build feature branches with open Pull Requests
skip_branch_with_pr: true
image: 
- Visual Studio 2017
configuration: Release
nuget:
  project_feed: true
before_build:
- cmd: nuget restore
build:
  parallel: true
  verbosity: minimal
test_script:
 # File path must be updated if OpenCover package version is updated
 - cd bin\Release
 - .\..\..\packages\OpenCover.4.7.922\tools\OpenCover.Console.exe -register:user -target:vstest.console.exe -targetargs:"Tests.dll /logger:Appveyor /tests:UnitTests /Parallel /InIsolation" -mergebyhash -skipautoprops -output:coverage.xml -filter:"+[Eddi*]* +[Utilities*]* -[Tests*]*"
after_test:
 # Our CodeCov token is "c0cc9048-1cdc-464b-b2fa-dac79464e1c4" 
 - ps: |
      $env:PATH = 'C:\msys64\usr\bin;' + $env:PATH
      Invoke-WebRequest -Uri 'https://codecov.io/bash' -OutFile codecov.sh
      bash codecov.sh -f "coverage.xml" -t c0cc9048-1cdc-464b-b2fa-dac79464e1c4
